body{
    background-color: rgb(255, 255, 255);
}
#h1{
    text-align:center;
}
#shoppingBtn{
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    background-color:rgb(159, 228, 159);
}
#shoppingBtn:hover{
    background-color: rgb(105, 227, 105);
    cursor:pointer;
}
#shoppingInput{
    text-align: center;
}
#mainDiv{
    text-align: center;
    border: 2px solid black;
    height: 250px;
    width:400px;
    border-radius: 10px;
    background-color: rgb(105, 227, 105);
}
.checkBox{
    text-align: center;
}