body{
    background-color: rgb(255, 255, 255);
}
#h1{
    text-align:center;
}
#shoppingBtn{
    font-size: 30px;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
}
#shoppingBtn:hover{
    background-color: aqua;
    cursor:pointer;
}
#shoppingInput{
    text-align: center;
}
#mainDiv{
    text-align: center;
    border: 2px solid black;
    height: 200px;
    width:400px;
    background-color: rgb(105, 227, 105);
}